<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{"Login"|trans}}</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="{{ rel_proj_root }}/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ rel_proj_root }}/src/static/css/index.css">
    <link rel="stylesheet" href="{{ rel_proj_root }}/src/static/css/article-themes/dark.css">
</head>

<body class="dark">
    <form class="login-form">
        <h1 class="mb-4"><small>{{"Login"|trans}}</small></h1>
        <input class="mb-3 form-control dark shadow-none" id="id_username" name="username" placeholder="{{'Username'|trans}}" required>
        <input class="mb-3 form-control dark shadow-none" type="password" id="id_password" name="password" placeholder="{{'Password'|trans}}" required>
        <div class="d-flex justify-content-between">
            <button id="login-cancel" class="button-login-cancel">{{"Cancel"|trans}}</button>
            <button id="login-submit" class="button-login ms-3">{{"Login"|trans}}</button>
        </div>
        <div class="d-flex justify-content-end">
            <a class="link-register mt-2" href="{{ register_url }}">{{ "Register"|trans }}</a>
        </div>
        <div class="d-flex mt-3">
            <p id="login-alert-error" class="alert-error"></p>
        </div>

    </form>

    <script src="{{ rel_proj_root }}/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="{{ rel_proj_root }}/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ rel_proj_root }}/src/static/js/profile/login.js"></script>
</body>

</html>