<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{"User Profile"|trans}}</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="{{ rel_proj_root }}/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ rel_proj_root }}/src/static/css/index.css">
</head>

<body>
    <div class="w-100 p-3">
        <div class="d-flex justify-content-between">
            <div class="h1 mb-4"><small>{{"User Profile"|trans}}</small></div>
            <div id="userinfo-close-modal"><a>X</a></div>
        </div>
        <div id="id-userinfo" class="d-flex"></div>
        <div>
            <a id="id-logout">{{"Logout"|trans}}</a>
        </div>
    </div>

    <script src="{{ rel_proj_root }}/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="{{ rel_proj_root }}/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ rel_proj_root }}/src/static/js/profile/user.js"></script>
</body>

</html>