<div id="id-info-toast" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1051">
    <div id="info-liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong id="id-info-toast-title" class="me-auto">{{ toast_title }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="id-info-toast-body" class="toast-body text-success">
            {{ toast_info }}
        </div>
    </div>
</div>