<div class="w-100 p-3">
    <input id="id_article_id" value="{{art.id}}" hidden>
    <div class="h6">文章信息</div>
    <hr>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col" style="min-width: 5em;" class="px-2">字段</th>
                <th scope="col" class="px-2">内容</th>
            </tr>
        </thead>
        <tbody>

            {% if art.paperId %}
            <tr>
                <td>论文ID</td>
                <td>{{ art.paperId }}</td>
            </tr>
            {% endif %} {% if art.title %}
            <tr>
                <td>文章标题</td>
                <td>{{ art.title }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>创建日期</td>
                <td>{{ art.localCreatedOn }}</td>
            </tr>

        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button class="article-delete-cancel button-dark-border-secondary">取消</button>
        <button class="article-delete-confirm button-dark-border ms-3">删除</button>
    </div>
</div>