<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>文章删除</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
</head>

<body>
    <div class="w-100 p-3">
        <div class="d-flex justify-content-between">
            <div class="h1 mb-4"><small>文章删除</small></div>
            <div id="article-delete-close-modal"><a>X</a></div>
        </div>
        <div id="id-article" class="d-flex"></div>
    </div>

    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/article/delete.js"></script>
</body>

</html>